body {
  width: 100%;
  font-family: "omnes", "Helvetica Neue", Helvetica, Arial, Sans;
  font-size: 16px;
  color: #333333;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  top: 0;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: .6;
}
::-webkit-scrollbar {
  display: none;
}
.navbar {
  width: 100%;
  height: 60px;
  background-image: url("../img/nav-background.svg");
  background-repeat: repeat-x;
}
.navbar > .navbar-container {
  width: 100%;
  height: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 0 40px;
}
.navbar > .navbar-container > .navbar-logo {
  background-image: url("../img/logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 140px;
  height: 100%;
  float: left;
  margin-top: -1px;
}
.navbar > .navbar-container > .navbar-links > ul {
  list-style: none;
  margin: 0;
  padding-top: 22px;
}
.navbar > .navbar-container > .navbar-links > ul > li {
  margin-left: 40px;
  float: left;
}
.navbar > .navbar-container > .navbar-links > ul > li > a {
  font-weight: 300;
  color: #626566;
  font-size: 18px;
}
.navbar > .navbar-container > .navbar-links > ul > li > a.active {
  font-weight: 600;
}
.navbar > .navbar-container > .navbar-social {
  float: right;
  margin-top: -7px;
}
.navbar > .navbar-container > .navbar-social > ul {
  margin: 0;
  list-style: none;
}
.navbar > .navbar-container > .navbar-social > ul > li {
  float: right;
  margin-left: 10px;
}
.navbar > .navbar-container > .navbar-social > ul > li > a > img.social-icon {
  width: 30px;
  height: 30px;
}
.masthead {
  width: 100%;
  height: 200px;
  display: table;
  z-index: 110;
  background-color: #f5f5f5;
}
.masthead.home {
  background-image: url('../img/home-banner.png');
  background-size: cover;
  background-position: center;
}
.masthead > .masthead-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.masthead > .masthead-controls {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  color: white;
}
.masthead > .masthead-controls > ul {
  list-style: none;
  max-width: 352px;
  margin: 0 auto;
  padding: 0;
}
.masthead > .masthead-controls > ul > li {
  margin: 0 5px;
  float: left;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1.5px;
}
.masthead > .masthead-controls > ul > li > a {
  margin: 0;
  color: white;
}
.masthead > .masthead-controls > ul > li > a:hover {
  opacity: 1;
}
.masthead > .masthead-controls > ul > li > p {
  margin: 0;
}
.masthead > .masthead-controls > p {
  font-family: "clavo", Georgia, Times, Serif;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  margin: 30px 0 0;
  opacity: 0.4;
}
.main {
  display: block;
  max-width: 760px;
  margin: 0 auto;
  z-index: 100;
}
.main > .home-project {
  margin: 40px 40px 0;
  width: 300px;
  text-align: center;
  float: left;
}
.main > .home-project > .project-image {
  width: 300px;
  height: 300px;
  background-color: #f5f5f5;
  margin-bottom: 16px;
}
.main > .home-project > .project-image > .project-image-overlay {
  position: relative;
  pointer-event: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: 0.3s;
}
.main > .home-project > .project-image > .project-image-overlay:hover {
  opacity: .6;
}
.main > .home-project > .project-image > .project-image-overlay > a {
  font-family: "clavo", Georgia, Times, Serif;
  font-style: italic;
  font-weight: 300;
  color: white;
  position: relative;
  top: 48%;
}
.main > .home-project > .project-h2 {
  font-size: 16px;
  font-weight: 400;
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.main > .home-project > .project-h1 {
  font-size: 30px;
  font-weight: 400;
}
.modal-container {
  display: none;
  z-index: 200;
  background-color: #f5f5f5;
  position: absolute;
  top: 60px;
  width: 100%;
  border-bottom: 1px solid #999999;
}
.modal-container#about-me {
  display: block;
}
.modal-container > .masthead {
  background-color: #f5f5f5;
}
.modal-container > .masthead.about {
  background-image: url('../img/about-banner.png');
  background-size: cover;
  background-position: center;
}
.modal-container > .main > .modal-head {
  text-align: center;
}
.modal-container > .main > .modal-head > a {
  font-family: "clavo", Georgia, Times, Serif;
  font-style: italic;
  font-size: 14px;
  color: #999999;
  font-weight: 300;
  position: relative;
  left: -25%;
  top: 40px;
}
.modal-container > .main > .modal-head > img.project-icon {
  width: 40px;
  height: 40px;
  border: 2px solid #999999;
  border-radius: 22px;
  margin: 14px auto;
  display: block;
}
.modal-container > .main > .modal-head > h2 {
  font-size: 16px;
  font-weight: 400;
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 24px 0 0;
}
.modal-container > .main > .modal-head > h1 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 20px;
}
.modal-container > .main > .modal-head > h1 > a {
  color: #333333 !important;
}
.modal-container > .main > .modal-head > h1 > a > .projectlink {
  font-size: 28px;
  font-weight: 200;
  opacity: .25;
  margin-right: -14px;
}
.modal-container > .main > p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  max-width: 420px;
  margin: 0 auto 30px;
}
.modal-container > .main > p.modal-header {
  font-size: 16px;
  font-weight: 400;
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-align: center;
}
.modal-container > .main > ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.modal-container > .main > ul > li {
  margin-bottom: 12px;
}
.modal-container > .main > .modal-gallery {
  max-width: 750px;
  margin: 0 auto;
}
.modal-container > .main > .modal-gallery > .gallery-image {
  background-color: #f5f5f5;
  width: 240px;
  height: 200px;
  margin: 0 5px 30px;
  float: left;
}
.modal-container > .main > .modal-footer {
  text-align: center;
  margin-bottom: 40px;
}
.modal-container > .main > .modal-footer > a {
  color: #333333;
}
.modal-container > .main > .modal-footer > hr {
  border: none;
  border-bottom: 1px solid #333333;
  width: 60px;
}
footer {
  text-align: center;
  font-family: "clavo", Georgia, Times, Serif;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  color: #999999;
  height: 100px;
  clear: both;
}
footer.about {
  height: 60px;
}
footer > p.footer {
  padding-top: 40px;
}
footer > p.footer > a {
  color: #626566;
}
@media screen and (max-width: 760px) {
  .navbar {
    height: 90px;
  }
  .navbar > .navbar-container {
    padding: 0;
    height: 90px;
    background-position: bottom;
  }
  .navbar > .navbar-container > .navbar-logo {
    float: none;
    margin: 0 auto;
    max-height: 56px;
  }
  .navbar > .navbar-container > .navbar-links > ul {
    padding: 0;
    text-align: center;
  }
  .navbar > .navbar-container > .navbar-links > ul > li {
    display: inline;
    float: none;
    text-align: center;
    margin: 0 20px;
  }
  .navbar > .navbar-container > .navbar-social {
    display: none;
  }
  .masthead {
    height: 180px;
  }
  .masthead > .masthead-controls > ul > li {
    float: none;
  }
  .masthead > .masthead-controls > ul > li > p {
    font-size: 18px;
  }
  .masthead > .masthead-controls > p {
    margin-top: 10px;
  }
  .main {
    width: 100%;
  }
  .main > .home-project {
    width: 100%;
    max-width: 300px;
    margin: 40px auto 0;
    padding-bottom: 10px;
    float: none;
  }
  .main > .home-project > a > .project-image {
    width: 100%;
    height: 120px;
  }
  .main > .home-project > a > .project-image > .project-image-overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
  }
  .main > .home-project > a > .project-image > .project-image-overlay > a {
    opacity: 1;
    color: #999999;
    top: 154%;
  }
  .modal-container {
    top: 90px;
  }
  .modal-container > .main > .modal-head,
  .modal-container > .main p,
  .modal-container > .main .modal-gallery {
    padding: 0 20px;
  }
  .modal-container > .main > .modal-gallery > .gallery-image {
    float: none;
    margin: 0 auto 30px;
  }
}
.modal-container#modal-virtualtryon > .masthead {
  background-image: url('../img/virtualtryon-banner.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-virtualtryon > .main > .modal-gallery > .gallery-image#image-virtualtryona {
  background-image: url('../img/virtualtryon-gallerya.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-virtualtryon > .main > .modal-gallery > .gallery-image#image-virtualtryonb {
  background-image: url('../img/virtualtryon-galleryb.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-virtualtryon > .main > .modal-gallery > .gallery-image#image-virtualtryonc {
  background-image: url('../img/virtualtryon-galleryc.png');
  background-size: cover;
  background-position: center;
}
.main > .home-project > .project-image#virtualtryon {
  background-image: url('../img/virtualtryon-project.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-backwords > .masthead {
  background-image: url('../img/backwords-banner.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-backwords > .main > .modal-gallery > .gallery-image#image-backwordsa {
  background-image: url('../img/backwords-gallerya.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-backwords > .main > .modal-gallery > .gallery-image#image-backwordsb {
  background-image: url('../img/backwords-galleryb.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-backwords > .main > .modal-gallery > .gallery-image#image-backwordsc {
  background-image: url('../img/backwords-galleryc.png');
  background-size: cover;
  background-position: center;
}
.main > .home-project > .project-image#backwords {
  background-image: url('../img/backwords-project.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-ww2timeline > .masthead {
  background-image: url('../img/ww2timeline-banner.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-ww2timeline > .main > .modal-gallery > .gallery-image#image-ww2timelinea {
  background-image: url('../img/ww2timeline-gallerya.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-ww2timeline > .main > .modal-gallery > .gallery-image#image-ww2timelineb {
  background-image: url('../img/ww2timeline-galleryb.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-ww2timeline > .main > .modal-gallery > .gallery-image#image-ww2timelinec {
  background-image: url('../img/ww2timeline-galleryc.png');
  background-size: cover;
  background-position: center;
}
.main > .home-project > .project-image#ww2timeline {
  background-image: url('../img/ww2timeline-project.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-tgpio > .masthead {
  background-image: url('../img/tgpio-banner.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-tgpio > .main > .modal-gallery > .gallery-image#image-tgpioa {
  background-image: url('../img/tgpio-gallerya.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-tgpio > .main > .modal-gallery > .gallery-image#image-tgpiob {
  background-image: url('../img/tgpio-galleryb.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-tgpio > .main > .modal-gallery > .gallery-image#image-tgpioc {
  background-image: url('../img/tgpio-galleryc.png');
  background-size: cover;
  background-position: center;
}
.main > .home-project > .project-image#tgpio {
  background-image: url('../img/tgpio-project.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-planetkungfu > .masthead {
  background-image: url('../img/planetkungfu-banner.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-planetkungfu > .main > .modal-gallery > .gallery-image#image-planetkungfua {
  background-image: url('../img/planetkungfu-gallerya.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-planetkungfu > .main > .modal-gallery > .gallery-image#image-planetkungfub {
  background-image: url('../img/planetkungfu-galleryb.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-planetkungfu > .main > .modal-gallery > .gallery-image#image-planetkungfuc {
  background-image: url('../img/planetkungfu-galleryc.png');
  background-size: cover;
  background-position: center;
}
.main > .home-project > .project-image#planetkungfu {
  background-image: url('../img/planetkungfu-project.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-olympicgames > .masthead {
  background-image: url('../img/olympicgames-banner.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-olympicgames > .main > .modal-gallery > .gallery-image#image-olympicgamesa {
  background-image: url('../img/olympicgames-gallerya.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-olympicgames > .main > .modal-gallery > .gallery-image#image-olympicgamesb {
  background-image: url('../img/olympicgames-galleryb.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-olympicgames > .main > .modal-gallery > .gallery-image#image-olympicgamesc {
  background-image: url('../img/olympicgames-galleryc.png');
  background-size: cover;
  background-position: center;
}
.main > .home-project > .project-image#olympicgames {
  background-image: url('../img/olympicgames-project.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-urbansprawl > .masthead {
  background-image: url('../img/urbansprawl-banner.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-urbansprawl > .main > .modal-gallery > .gallery-image#image-urbansprawla {
  background-image: url('../img/urbansprawl-gallerya.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-urbansprawl > .main > .modal-gallery > .gallery-image#image-urbansprawlb {
  background-image: url('../img/urbansprawl-galleryb.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-urbansprawl > .main > .modal-gallery > .gallery-image#image-urbansprawlc {
  background-image: url('../img/urbansprawl-galleryc.png');
  background-size: cover;
  background-position: center;
}
.main > .home-project > .project-image#urbansprawl {
  background-image: url('../img/urbansprawl-project.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-scrubapp > .masthead {
  background-image: url('../img/scrubapp-banner.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-scrubapp > .main > .modal-gallery > .gallery-image#image-scrubappa {
  background-image: url('../img/scrubapp-gallerya.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-scrubapp > .main > .modal-gallery > .gallery-image#image-scrubappb {
  background-image: url('../img/scrubapp-galleryb.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-scrubapp > .main > .modal-gallery > .gallery-image#image-scrubappc {
  background-image: url('../img/scrubapp-galleryc.png');
  background-size: cover;
  background-position: center;
}
.main > .home-project > .project-image#scrubapp {
  background-image: url('../img/scrubapp-project.png');
  background-size: cover;
  background-position: center;
}
