.modal-container#modal-virtualtryon
    .masthead
    .main
        .modal-head
            a.modal-close(href="#") &times; Close
            img.project-icon(src="img/virtualtryon-icon.png")
            h2 An Augmented Mobile App
            h1 Virtual Try-On
        p.
            With glasses.com, you can virtually try on thousands of glasses and sunglasses to see how you look from any angle in photo-realistic 3D. Try on frames from Ray-Ban, Kate Spade, Oakley, Burberry, Maui Jim and more — scaled to fit your face correctly.
        .modal-gallery
            .gallery-image#image-virtualtryona <!-- background image -->
            .gallery-image#image-virtualtryonb <!-- background image -->
            .gallery-image#image-virtualtryonc <!-- background image -->
        p.modal-header A new way to find the perfect pair of frames
        p.
            The Glasses.com Virtual Try-On app is the breakthrough augmented reality app, accurately scanning a users face using their device's camera to generate a realistic face mesh. With this face mesh, combined with a library of thousands of hig-quality frame models, users are able to 'try-on' and view themselves in any pair of glasses offered by the online retailer.
        p.modal-header Designing for the future
        p.
            This new approach to augmented reality (what we like to call 'Passive AR') required a whole new approach to traditional app design, while retaining the intuitiveness of going to the store and taking a pair of frames off the shelf. We crafted a very in-depth onboarding experience that guided users intelligently and got us the best possible captures under many varying conditions.
        p.modal-header An award-winning experience
        p. The app was released to much acclaim and praise, remaining one of the top 100 downloaded iPad apps for over a year, and eventually winning awards at the Webbys, Communication Arts Awards, and Cannes Lions. Glasses.com is currently available for iPad, iPhone, and Android devices.
        .modal-footer
            a.modal-close(href="#") Back to Projects
            hr