.modal-container#modal-backwords
    .masthead
    .main
        .modal-head
            a.modal-close(href="#") &times; Close
            img.project-icon(src="img/backwords-icon.png")
            h2 An iOS Party Game
            h1 <a href="https://itunes.apple.com/us/app/backwords-game/id689283221" target="_blank">BackWords <span class="projectlink">&raquo;</span></a>
        p.
            BackWords Game is a fun and entertaining game of guessing words in reverse. Choose a word and send the recording to your friend. Your friend will hear your word played backwards and then mimic exactly what they hear. 
        .modal-gallery
            .gallery-image#image-backwordsa <!-- background image -->
            .gallery-image#image-backwordsb <!-- background image -->
            .gallery-image#image-backwordsc <!-- background image -->
        p.modal-header Flipping the script, literally
        p.
            The biggest challenge in designing BackWords was definitely the process of guessing an opponent's world, which on paper sounded daunting, and definitely provided quite the challenge. After settling on a color scheme that involved a variety of colors, it became clear that color and symbol drive clues helped guide players through the process, resulting in fast gameplay and quick turnaround for opponents.
        .modal-footer
            a.modal-close(href="#") Back to Projects
            hr