.modal-container#modal-backwords
    .masthead
    .main
        .modal-head
            a.modal-close(href="#") &times; Close
            img.project-icon(src="img/backwords-icon.png")
            h2 An iOS Party Game
            h1 BackWords
        p.
            BackWords Game is a fun and entertaining game of guessing words in reverse. Choose a word and send the recording to your friend. Your friend will hear your word played backwards and then mimic exactly what they hear. 
        .modal-gallery
            .gallery-image#image-backwordsa <!-- background image -->
            .gallery-image#image-backwordsb <!-- background image -->
            .gallery-image#image-backwordsc <!-- background image -->
        p.modal-header A new way to find the perfect pair of frames
        p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent efficitur eros vel mi lacinia consequat. Vestibulum sit amet tempor urna. Sed fringilla, ex eu blandit tincidunt, eros velit faucibus nisl, sit amet imperdiet nunc purus sit amet risus. Sed dapibus ex porta, lacinia dui quis, accumsan nunc. ABOUT
        .modal-footer
            a.modal-close(href="#") Back to Projects
            hr