.modal-container#modal-ww2timeline
    .masthead
    .main
        .modal-head
            a.modal-close(href="#") &times; Close
            img.project-icon(src="img/ww2timeline-icon.png")
            h2 An Interactive Webapp
            h1 <a href="http://tgp.io/timeline/ww2/" target="_blank">WWII Media Timeline <span class="projectlink">&raquo;</span></a>
        p.
            Visual Depictions of World War II is intended to give viewers an abundant collection of visual media that spans the entirety of the war and covers the majority of vital events. To that end, we've scoured several lists of WW2 adaptations and used them to compile a collection that is comprehensive enough to include not only timeless classics, but also foreign and lesser known productions.
        .modal-gallery
            .gallery-image#image-ww2timelinea <!-- background image -->
            .gallery-image#image-ww2timelineb <!-- background image -->
            .gallery-image#image-ww2timelinec <!-- background image -->
        p.
            The timeline itself was designed to be accessible from tablets and desktops, enabling users to take advantage of the touch-based design and interact with the timeline from the comfort of their couch while they enjoy or plan to learn more about WWII. While the intention wasn't to try and supplant factual world history, this project is meant to enhance and pique the interest of those who would otherwise gloss over the numerous books of information on the subject.
        .modal-footer
            a.modal-close(href="#") Back to Projects
            hr