.modal-container#modal-tgpio
    .masthead
    .main
        .modal-head
            a.modal-close(href="#") &times; Close
            img.project-icon(src="img/tgpio-icon.png")
            h2 A Game Dev Hub
            h1 tgp.io
        p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent efficitur eros vel mi lacinia consequat. Vestibulum sit amet tempor urna. Sed fringilla, ex eu blandit tincidunt, eros velit faucibus nisl, sit amet imperdiet nunc purus sit amet risus. Sed dapibus ex porta, lacinia dui quis, accumsan nunc. ABOUT
        .modal-gallery
            .gallery-image#image-tgpioa <!-- background image -->
            .gallery-image#image-tgpiob <!-- background image -->
            .gallery-image#image-tgpioc <!-- background image -->
        p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent efficitur eros vel mi lacinia consequat. Vestibulum sit amet tempor urna. Sed fringilla, ex eu blandit tincidunt, eros velit faucibus nisl, sit amet imperdiet nunc purus sit amet risus. Sed dapibus ex porta, lacinia dui quis, accumsan nunc. ABOUT
        .modal-footer
            a.modal-close(href="#") Back to Projects
            hr