.modal-container#modal-tgpio
    .masthead
    .main
        .modal-head
            a.modal-close(href="#") &times; Close
            img.project-icon(src="img/tgpio-icon.png")
            h2 A Game Dev Hub
            h1 <a href="http://tgp.io/" target="_blank">tgp.io <span class="projectlink">&raquo;</span></a>
        p.
            The Gaming Project is the local gamedev crew I work with on several small scale game projects, and with 2015 rolling around the corner is was high time to refresh and update the site to properly showcase these projects.
        .modal-gallery
            .gallery-image#image-tgpioa <!-- background image -->
            .gallery-image#image-tgpiob <!-- background image -->
            .gallery-image#image-tgpioc <!-- background image -->
        p.
            The design of the site grew organically from a life-long love of (now) old-school game consoles and handhelds, and developing the showcases with this in mind it was clear early on the site would have to emulate the joy of pulling out and dusting off cartridges. With the help of some web magic, animations and vector art helped elevate what could have been a generic site to something entertaining in and of itself, properly showing off some of our games.
        .modal-footer
            a.modal-close(href="#") Back to Projects
            hr