.modal-container#modal-planetkungfu
    .masthead
    .main
        .modal-head
            a.modal-close(href="#") &times; Close
            img.project-icon(src="img/planetkungfu-icon.png")
            h2 A 72-hour Unity Game
            h1 Planet Kung Fu
        p.
            In this HTML5 action side scroller, you play as an unnamed protagonist and are tasked with showing the planets your worthiness with a true kung fu display of their majestic powers.
        .modal-gallery
            .gallery-image#image-planetkungfua <!-- background image -->
            .gallery-image#image-planetkungfub <!-- background image -->
            .gallery-image#image-planetkungfuc <!-- background image -->
        p.
            Created and executed in less than 72 hours for the Ludum Dare, Planet Kung Fu 
        .modal-footer
            a.modal-close(href="#") Back to Projects
            hr