.modal-container#modal-planetkungfu
    .masthead
    .main
        .modal-head
            a.modal-close(href="#") &times; Close
            img.project-icon(src="img/planetkungfu-icon.png")
            h2 A 72-hour Unity Game
            h1 <a href="http://tgp.io/play/planetkungfu/" target="_blank">Planet Kung Fu <span class="projectlink">&raquo;</span></a>
        p.
            In this HTML5 action side scroller, you play as an unnamed protagonist and are tasked with showing the planets your worthiness with a true kung fu display of their majestic powers. The powers of each planet come and go at random, forcing you to adapt your fighting tactics at the mercy of the planetary gods.
        .modal-gallery
            .gallery-image#image-planetkungfua <!-- background image -->
            .gallery-image#image-planetkungfub <!-- background image -->
            .gallery-image#image-planetkungfuc <!-- background image -->
        p.
            Created and executed in less than 72 hours for the Ludum Dare, Planet Kung Fu was TGP's love letter to the Kung Fu genre, keeping the fight as the core gameplay experience. Using a variety of animation techniques including extensive rotoscoping of old Bruce Lee movies and incorporating a vibrant color palette, Planet Kung Fu became our highest rated LD game to date, propelling us easily into the top 100 out of over 2000 entries.
        .modal-footer
            a.modal-close(href="#") Back to Projects
            hr