.modal-container#modal-scrubapp
    .masthead
    .main
        .modal-head
            a.modal-close(href="#") &times; Close
            img.project-icon(src="img/scrubapp-icon.png")
            h2 An Interactive Social Network
            h1 <a href="http://scrub.binocular.io/" target="_blank">Scrub <span class="projectlink">&raquo;</span></a>
        p.
            Scrub is a fully-fledged concept for a social network where users could submit and view interactive short clips, allowing people to dive right to key moments in clips like a sports replay or a little bit of a rough and tumble. With its easy-to-use clip editors, making and sharing Scrubs is as easy as 1-2-3 (Seriously, it's only three steps).
        .modal-gallery
            .gallery-image#image-scrubappa <!-- background image -->
            .gallery-image#image-scrubappb <!-- background image -->
            .gallery-image#image-scrubappc <!-- background image -->
        p.modal-header It all starts with a problem...
        p.
            The idea for Scrub came when a co-worker was showing us various sports clips, but had to start over the clips to replay the key moments, and so we came up with the idea to utilize full user control of a clip, using only a finger to 'Scrub' through a video. Once the idea coalesced into a solid gameplan, I was tasked with designing and putting together a functional front end for the service.
        p.modal-header Editing and sharing made fun
        p.
            With a wealth of existing social networks to draw inspiration from, creating a compelling browsing experience took no time to develop, but paring down the headache of video editing is no easy task, and several proposals and ideas came and went from the drawing board before the current implementation came to be, ensuring as little time as possible was spent outside of browsing.
        .modal-footer
            a.modal-close(href="#") Back to Projects
            hr
            