.modal-container#modal-socialtvinfographs
    .masthead
    .main
        .modal-head
            a.modal-close(href="#") &times; Close
            img.project-icon(src="img/socialtvinfographs-icon.png")
            h2 An Infographic Collection
            h1 <a href="http://www.adweek.com/lostremote/exclusive-infographic-how-a-tweet-gets-onto-tv-by-mass-relevance/22855" target="_blank">Social TV Infographs <span class="projectlink">&raquo;</span></a>
        p.
            This collection of infographics helped Mass Relevance promote and explain their social aggregation platform as well as gather pertinent social research data.
        .modal-gallery
            .gallery-image#image-socialtvinfographsa <!-- background image -->
            .gallery-image#image-socialtvinfographsb <!-- background image -->
            .gallery-image#image-socialtvinfographsc <!-- background image -->
        p.modal-header Giving visual context to ones and zeroes
        p.
            The Mass Relevance platform provides an extremely easy way for users to gather and resyndicate social content from a variety of social networks, however for the average joe, the technical details might seem mystifying, and so I created an infographic clearly explaining the 'journey' of social content, from the source to the user's display. However, this was merely one side of the infographics I helped create for Mass Relevance.
        p.modal-header From technical jargon to layman speak
        p.
            In addition to the more technical infographs I helped create for Mass Relevance, I also made infographs gathering data on Social TV viewership which required me to research the then unknown space and create a compelling narrative that involved personifying the distinct groups of Social TV users which helped give the bland data more meaningful context.
        .modal-footer
            a.modal-close(href="#") Back to Projects
            hr