.modal-container#modal-gameoverride
    .masthead
    .main
        .modal-head
            a.modal-close(href="#") &times; Close
            img.project-icon(src="img/gameoverride-icon.png")
            h2 A Gaming Entertainment Source
            h1 Game Override
        p.
            This news source is dedicated to providing the latest in videogame and related technology news, featuring a large video component which includes a number of weekly series.
        .modal-gallery
            .gallery-image#image-gameoverridea <!-- background image -->
            .gallery-image#image-gameoverrideb <!-- background image -->
            .gallery-image#image-gameoverridec <!-- background image -->
        p.modal-header A full-fledged streaming line-up
        p.
            Game Override was founded in the hopes of delivering a different kind of gaming news experience, utilizing the growing videogame streaming market to give viewers a visual component to news in the form of a weekly livestream lineup, with shows airing each night of the week. As the Design Editor for Game Override, I was tasked with creating the branding for the GO brand as well as the visual look of the various show on GO's streaming channel. For the main logo, I created a identity using a face with a headset, emphasizing the streaming-heavy nature of Game Override.
        .modal-footer
            a.modal-close(href="#") Back to Projects
            hr