.navbar
    .navbar-container
        .navbar-logo <!-- svg background -->
        .navbar-links
            ul
                li 
                    a PROJECTS
                li
                    a ABOUT
        .navbar-social
            ul
                li
                    img.social-icon(src="img/social-icon-twitter.png")
                li
                    img.social-icon(src="img/social-icon-facebook.png")

.home-masthead
    .masthead-overlay
    .masthead-controls
        ul
            li
                a ART
            li
                p +
            li
                a DESIGN
            li
                p +
            li
                a EXECUTION

.home-main
    .home-project
        .project-image <!-- background image -->
            .project-image-overlay
                a Learn More »
        .project-h2 Art, Design, Execution
        .project-h1 Project Name
    
.modal-container
    .modal-masthead
    .modal-main
        .modal-head
            a Close
            img.project-icon(src="img/<Project Name>-icon.png")
            h2 Art, Design, Execution
            h1 Project Name
        p
        .modal-gallery
            .gallery-image <!-- background image -->
            .gallery-image <!-- background image -->
            .gallery-image <!-- background image -->
        p
        .modal-footer
            a Back to Projects

footer
    p.footer.
        Made in <texas> with <heart>