doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        title Alton Chaney, Art + Design + Execution
        meta(name="description", content="Selected works from the mind and fingertips of Alton Chaney")
        link(rel="stylesheet", href="css/main.css", media="all")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
        script(src="js/main.js")
        script(src="//use.typekit.net/vxq2qyv.js")
        script.
            try{Typekit.load();}catch(e){}

    body
        .navbar
            .navbar-container
                .navbar-logo <!-- svg background -->
                .navbar-links
                    ul
                        li 
                            a.active(href="index.html") WORK
                        li
                            a(href="about.html") ABOUT
                .navbar-social
                    ul
                        li
                            a(href="https://twitter.com/altonchaney", target="_blank")
                                img.social-icon(src="img/social-icon-twitter.png")
                        li
                            a(href="https://www.linkedin.com/in/altonchaney", target="_blank")
                                img.social-icon(src="img/social-icon-linkedin.png")
                        li
                            a(href="https://github.com/altonchaney", target="_blank")
                                img.social-icon(src="img/social-icon-github.png")

        .masthead.home
            .masthead-overlay
            .masthead-controls
                ul
                    li
                        a.selector-art(href="#") ART
                    li
                        p +
                    li
                        a.selector-design(href="#") DESIGN
                    li
                        p +
                    li
                        a.selector-execution(href="#") EXECUTION
                p.
                    Click to filter projects

        .main.home
            .home-project.design
                .project-image#virtualtryon <!-- background image -->
                    .project-image-overlay
                        a#open-virtualtryon(href="#") Learn More »
                .project-h2 An Augmented Mobile App
                .project-h1 Virtual Try-On
            
            .home-project.design
                .project-image#backwords <!-- background image -->
                    .project-image-overlay
                        a#open-backwords(href="#") Learn More »
                .project-h2 An iOS Party Game
                .project-h1 Backwords
            
            .home-project.execution
                .project-image#ww2timeline <!-- background image -->
                    .project-image-overlay
                        a#open-ww2timeline(href="#") Learn More »
                .project-h2 An Interactive Webapp
                .project-h1 WW2 Media Timeline
            
            .home-project.art
                .project-image#planetkungfu <!-- background image -->
                    .project-image-overlay
                        a#open-planetkungfu(href="#") Learn More »
                .project-h2 A 72-hour Unity Game
                .project-h1 Planet Kung Fu
            
            .home-project.design
                .project-image#olympicgames <!-- background image -->
                    .project-image-overlay
                        a#open-olympicgames(href="#") Learn More »
                .project-h2 A Social Integrated Webapp
                .project-h1 Olympic Games
                
            .home-project.art
                .project-image#urbansprawl <!-- background image -->
                    .project-image-overlay
                        a#open-urbansprawl(href="#") Learn More »
                .project-h2 An HTML5 RTS Game
                .project-h1 Urban Sprawl
            
            footer
                p.footer.
                    © 1989-2015 Alton Chaney | Made in <a href="#"><span class="tx">TX</span></a> with <a href="#" style="font-family: Arial;">&#9829;</a>
        
        include 01-virtualtryon.jade
        include 02-backwords.jade
        include 03-ww2timeline.jade
        //include 04-tgpio.jade
        include 05-planetkungfu.jade
        include 06-olympicgames.jade
        include 07-urbansprawl.jade
        //include 08-socialtvinfographs.jade
        //include 09-gameoverride.jade
        //include 10-iconcollages.jade