doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        link(rel="stylesheet", href="css/main.css", media="all")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
        script(src="js/main.js")
        script(src="//use.typekit.net/vxq2qyv.js")
        script.
            try{Typekit.load();}catch(e){}

    body
        .navbar
            .navbar-container
                .navbar-logo <!-- svg background -->
                .navbar-links
                    ul
                        li 
                            a.active(href="#") WORK
                        li
                            a(href="#") ABOUT
                .navbar-social
                    ul
                        li
                            a(href="#")
                                img.social-icon(src="img/social-icon-twitter.png")
                        li
                            a(href="#")
                                img.social-icon(src="img/social-icon-linkedin.png")
                        li
                            a(href="#")
                                img.social-icon(src="img/social-icon-github.png")

        .masthead
            .masthead-overlay
            .masthead-controls
                ul
                    li
                        a.selector-art(href="#") ART
                    li
                        p +
                    li
                        a.selector-design(href="#") DESIGN
                    li
                        p +
                    li
                        a.selector-execution(href="#") EXECUTION
                p.
                    Click to filter projects

        .main.home
            .home-project.design
                .project-image <!-- background image -->
                    .project-image-overlay
                        a#open-project1(href="#") Learn More »
                .project-h2 Art, Design, Execution
                .project-h1 Project Name
            
            .home-project.execution
                .project-image <!-- background image -->
                    .project-image-overlay
                        a(href="#") Learn More »
                .project-h2 Art, Design, Execution
                .project-h1 Project Name
            
            .home-project.art
                .project-image <!-- background image -->
                    .project-image-overlay
                        a(href="#") Learn More »
                .project-h2 Art, Design, Execution
                .project-h1 Project Name
            
            .home-project.art.design
                .project-image <!-- background image -->
                    .project-image-overlay
                        a(href="#") Learn More »
                .project-h2 Art, Design, Execution
                .project-h1 Project Name
            footer
                p.footer.
                    © 1989-2015 Alton Chaney | Made in <a href="#"><span class="tx">q</span></a> with <a href="#">♥</a>
        
        include project1.jade