.modal-container#modal-urbansprawl > .masthead {
  background-image: url('../img/urbansprawl-banner.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-urbansprawl > .main > .modal-gallery > .gallery-image#image-urbansprawla {
  background-image: url('../img/urbansprawl-gallerya.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-urbansprawl > .main > .modal-gallery > .gallery-image#image-urbansprawlb {
  background-image: url('../img/urbansprawl-galleryb.png');
  background-size: cover;
  background-position: center;
}
.modal-container#modal-urbansprawl > .main > .modal-gallery > .gallery-image#image-urbansprawlc {
  background-image: url('../img/urbansprawl-galleryc.png');
  background-size: cover;
  background-position: center;
}
.main > .home-project > .project-image#urbansprawl {
  background-image: url('../img/urbansprawl-project.png');
  background-size: cover;
  background-position: center;
}
