GLOBAL

body {
	width: 100%;
	font-family: @font-sans;
}

.navbar {
	width: 100%;
	height: 60px;
    > .navbar-container {
    	max-width: 960px;
        > .navbar-logo {
        	background-image: ;
        	width: ;
        	height: ;
        }
        > .navbar-links {
            > ul {
            	list-style: inline;
                > li {
                	margin-left: ;
                    > a {
                    	font-weight: ;
                    	color: ;
                    	&:active {
                    		font-weight: ;
                    	}
                    }
                }
            }
        }
        > .navbar-social {
        	float: right;
            > ul {
            	list-style: inline;
                > li {
                	margin-left: ;
                    > img.social-icon {}
                }
            }
        }
    }
}

.home-masthead {
	width: 100%;
	height: 200px;
	display: table;
    > .masthead-overlay {
    	width: 100%;
    	height: 100%;
		position: absolute;
		top: 0;
		left: 0;
    }
    > .masthead-controls {
    	display: table-cell;
    	vertical-align: middle;
        > ul {
        	list-style: inline;
            > li {
                > a {}
                > p {}
            }
        }
    	> a {
    		font-family: @font-serif;
    	}
    }
}

.home-main {
    > .home-project {
        > .project-image {
            > .project-image-overlay {
                > a {}
            }
        }
        > .project-h2 {}
        > .project-h1 {}
    }
}
    
.modal-container {
    > .modal-masthead {}
    > .modal-main {
        > .modal-head {
            > a {}
            > img.project-icon {}
            > h2 {}
            > h1 {}
        }
        > p {}
        > .modal-gallery {
            > .gallery-image <!-- background image --> {}
        }
        > .modal-footer {
            > a {}
        }
    }
}

footer {
    > p.footer {
    	> a {}
    }
}